* {
  box-sizing: border-box;
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-size: 20px;
}

body {
  margin: 5px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background: #747474;
}

title {
  display: flex;
  justify-content: space-evenly;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  border: 8px solid #aff3c6;
  border-radius: 10px;
  color: #aff3c6;
  position: fixed;
  min-width: 99vw;
  margin-bottom: 3%;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  font-size: 150%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  min-width: 300px;
  list-style: none;
}

nav li {
  padding: 5px;
}

nav a {
  color: #aff3c6;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
}

section {
  display: flex;
  background-color: #fff;
  min-width: 100vw;
  padding: 10%;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 10px;
}
aside {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
}

img {
  width: 33.33%;
  padding: 2px;
}

footer {
  display: flex;
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
  background: black;
  color: #aff3c6;
  margin-top: auto;
  min-width: 100vw;
  justify-content: center;
  font-size: 150%;
}

h2 {
  border-right: 1px solid black;
  padding-right: 3%;
}

h3 {
  border-bottom: 1px solid black;
  padding-bottom: 3%;
}
p {
  padding: 1%;
}

#about-me {
  display: flex;
  margin-top: 5%;
}
#mywork {
  display: flex;
  margin-bottom: 0;
  justify-content: center;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.apps {
  display: flex;
  border-top: none;
  border-radius: 0 0 10px 10px;
  margin-top: 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.apps h2 {
  border-right: none;
  border-bottom: 1px solid black;
}

.apps img {
  border-radius: 10px;
  box-shadow: 10px 5px 5px gray;
}

.apps a:hover img {
  opacity: 0.4;
}
.topapp img {
  min-width: 50vw;
  margin-top: 0;
}

.topapp-txt {
  position: absolute;
  padding: 8px;
  background: #000000;
  color: #aff3c6;
  border-radius: 10px 0 0 0;
  margin: 2px 2px;
}

.otherapps {
  flex-wrap: wrap;
}

.otherapps-txt {
  position: absolute;
  background: #000000;
  color: #aff3c6;
  padding: 5px;
  border-radius: 10px 0 0 0;
  margin: 2px 2px;
}

#contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.mylinks {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}
.mylinks .links {
  display: none;
  text-decoration: none;
  color: #000000;
  position: relative;
}

.mylinks:hover .links {
  display: block;
}

.tommypic {
  border-radius: 10px;
  box-shadow: 10px 5px 5px gray;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
  header {
    background: #595453;
  }
  nav,
  footer {
    background-color: #595453;
  }
}
